
.header{
    background-color: #2f3d46;
    height:calc(100vh - 620px);
    display: flex;
    color: white;
}
.sec1{
    background-color: #353535;
    width: 22%;
}
.sec2{
    width: 70%;
}
img{
    height: 85%;
    padding:5px;
}
.content{
    height: calc(100vh - 165px);
    padding: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: #cad2c5;

}
.sec1{
    border-radius: 25px;
}
.mulDiv{
    height: 30%;
    padding:20px;
    display: flex;
    justify-content: space-between;
}
h4{
    color: white;
    padding:17px;
}
.mulDiv div{
    width:30%;
    height:100%;
    background-color: #353535;
    border-radius: 25px;
}
.search{
    height: 10%;
    background-color: #353535;
    border-radius: 25px;
    width: 60%;
    margin:auto;
}
.last{
    height: 40%;
    display: flex;
    align-items: end;
    padding:20px;
}
.footer{
    height: 75%;
    background-color: #353535;
    border-radius: 25px;
    width:100%;
}


@media (max-width: 1450px){
    .header{
        height: calc(100vh - 515px) !important;;
    }
    .last{
        height:38%;
    }
    .footer{
        height:80% !important;
    }
}
/* #353535 */